services:
  mc:
    image: itzg/minecraft-server:latest
    pull_policy: always
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      VERSION: "1.21.1"
      MEMORY: "8G"
      TYPE: "FABRIC"
      MODRINTH_PROJECTS: "@/extras/mods.txt"
    volumes:
      - ./server:/data:Z
      - ./extras:/extras:Z
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
